= render "shared/header"

.main
  .signup
    .signup-header
      新規ユーザ登録
    .signup-items
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .signup-items__label
          = f.label :name
        .signup-items__field
          = f.text_field :name, autofocus: true, autocomplete: "name"
        .signup-items__label
          = f.label :email
        .signup-items__field
          = f.email_field :email, autocomplete: "email"
        .signup-items__label
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
        .signup-items__field
          = f.password_field :password, autocomplete: "new-password"
        .signup-items__label
          = f.label :password_confirmation
        .signup-items__field
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .signup-items__submit
          = f.submit "登録する", class: "button-submit user-registration"
          = link_to("トップに戻る", root_path)
          

= render "shared/footer"