- if user_signed_in?
  - if current_user.liked_by?(post.id)
    = link_to "/posts/#{post.id}/likes/#{post.likes.ids}", method: :delete, remote: true do
      %i.fas.fa-star.post-action__fav--liked
      = post.likes.length
  - else
    = link_to "/posts/#{post.id}/likes", method: :post, remote: true do
      %i.far.fa-star
      = post.likes.length
- else
  %i.far.fa-star
  = post.likes.length