- content_for :no_turbolink, true
= provide(:title, @user.name + "さんのフォロー一覧")

= render "shared/header"

.main
  .main-menu-outer
    .main-menu-inner
      .profile
        = render partial: 'users/profile', locals: {user: @user}
  .main-posts
    .main-posts-header
      %ul.main-posts-header-list
        = link_to "/users/#{@user.id}", "data-turbolinks": false, class: "non-active" do 
          %li 投稿
        = link_to "/users/#{@user.id}/likes", "data-turbolinks": false, class: "non-active" do 
          %li お気に入り
        = link_to "/users/#{@user.id}/followings", "data-turbolinks": false, class: "active" do 
          %li フォロー
        = link_to "/users/#{@user.id}/followers", "data-turbolinks": false, class: "non-active" do 
          %li フォロワー
    %ul.main-posts-contents.jscroll
      = render partial: "users/users", locals: {users: @followings}
      .main-posts-pagenation
        = link_to_prev_page @followings, '前のページ', class: "prev-page", "data-turbolinks": false
        = link_to_next_page @followings, '次のページ', class: "next-page", "data-turbolinks": false
        
= render "shared/footer"