- content_for :no_turbolink, true

= render "shared/top-header"

.main
  .main-menu-outer
    .main-menu-inner
      .profile
        = render partial: 'posts/profile', locals: {user: @user}
      
  .main-posts
    .main-posts-header
      %ul.main-posts-header-list
        = link_to user_path(@user.id), remote: true do 
          %li 投稿
        = link_to likes_user_path(@user.id), remote: true, "data-turbolinks": false do 
          %li お気に入り
        = link_to ('#') do 
          %li フォロー
        = link_to ('#') do 
          %li フォロワー
    - if @posts.empty?
      投稿がまだありません
    - else
      %ul.main-posts-contents
        = render partial: "posts/posts", locals: {posts: @posts}
        
.footer
  &copy; 2020 Revorite