- content_for :no_turbolink, true
- if @user.id == current_user.id
  = provide(:title, 'マイページ')
- else
  = provide(:title, 'ユーザ情報')

= render "shared/header"

.main
  .main-menu-outer
    .main-menu-inner
      .profile
        = render partial: 'posts/profile', locals: {user: @user}
        - if user_signed_in?
          - if @user.id == current_user.id
            = link_to edit_user_registration_path, "data-turbolinks": false do
              .profile-config
                %i.fas.fa-user-edit
                プロフィールの変更
  .main-posts
    .main-posts-header
      %ul.main-posts-header-list
        = link_to "/users/#{@user.id}", remote: true, "data-turbolinks": false, class: "active" do 
          %li 投稿
        = link_to "/users/#{@user.id}/likes", remote: true, "data-turbolinks": false, class: "non-active" do 
          %li お気に入り
        = link_to "/users/#{@user.id}/followings", remote: true, "data-turbolinks": false, class: "non-active" do 
          %li フォロー
        = link_to "/users/#{@user.id}/followers", remote: true, "data-turbolinks": false, class: "non-active" do 
          %li フォロワー
    %ul.main-posts-contents.jscroll
      = render partial: "posts/posts", locals: {posts: @posts}
      .main-posts-pagenation
        = link_to_prev_page @posts, '前のページ', class: "prev-page", "data-turbolinks": false
        = link_to_next_page @posts, '次のページ', class: "next-page", "data-turbolinks": false
        
= render "shared/footer"