= render "shared/header"
= provide(:title, 'パスワードの再発行')

.main
  .newpassword
    .newpassword-header
      パスワードの再発行
    .newpassword-items
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, novalidate: true }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .newpassword-items__label
          = f.label :email
        .newpassword-items__field
          = f.email_field :email, autofocus: true, class: "user-input-email", id: "newpassword-input-email"
        .newpassword-items__submit
          = f.submit "再発行のメールを送信", class: "button-submit user-newpassword user-button-submit", disabled: true
      .newpassword-links
        = link_to(">> 新規登録", new_user_registration_path, "data-turbolinks": false)
        %br
        = link_to(">> ログイン", new_user_session_path, "data-turbolinks": false)
    .newpassword-footer
      = link_to("<< トップに戻る", root_path, "data-turbolinks": false)
      

= render "shared/footer"