.header
  .header-left
    = link_to root_path, "data-turbolinks": false do
      Revorite
  .header-right
    %ul
      - if user_signed_in?
        %li
          = current_user.name
        %li
          = link_to destroy_user_session_path, method: :delete do
            %i.fas.fa-sign-out-alt
            ログアウト
      - else
        %li
          = link_to('#') do
            %i.fas.fa-user-check
            かんたんログイン
        %li
          = link_to new_user_session_path do
            %i.fas.fa-sign-in-alt
            ログイン
        %li
          = link_to new_user_registration_path do
            %i.fas.fa-plus
            新規登録