= render "shared/header"

.main
  .login
    .login-header
      ログイン
    .login-items
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-items__label
          = f.label :email
        .login-items__field
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .login-items__label
          = f.label :password
        .login-items__field
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .login-items__checkbox
            = f.check_box :remember_me, class: "checkbox"
            = f.label :remember_me, class: "checkbox-parts"
        .login-items__submit
          = f.submit "ログイン", class: "button-submit user-login", id: "login-button-submit"
      .login-links
        = link_to(">> 新規登録", new_user_registration_path)
        %br
        = link_to(">> パスワードを忘れた場合", new_user_password_path)
    .login-footer
      = link_to("<< トップに戻る", root_path)

= render "shared/footer"