- if posts.empty?
  %li.post
    .post-container
      投稿はまだありません。





- else
  - posts.each_with_index.reverse_each do |post, i|
    %li.post
      - if post.has_attribute?(:repost_user_id)
        - if post.repost_user_id.present?
          .post-repost
            %i.fas.fa-retweet
            = link_to post.repost_user_name, "/users/#{post.repost_user_id}", "data-turbolinks": false
            さんがリポスト
      .post-container
        .post-left
          = link_to user_path(post.user.id), "data-turbolinks": false do
            - if post.user.image.attached? 
              = image_tag(post.user.image, alt: 'デフォルトアイコン')
            - else
              = image_tag('sample/default_icon.png', alt: 'デフォルトアイコン')
        .post-right
          = render partial: "posts/post", locals: {post: post}
          = render partial: "posts/comment", locals: {post: post}
    - if i != 0
      %hr