.post-header
  .post-header__name
    = link_to user_path(post.user.id), "data-turbolinks": false do
      = post.user.name
  .post-header__time
    %i.far.fa-clock
    = post.created_at.to_s(:human)
  - if user_signed_in?
    - if post.user_id == current_user.id
      .post-header__delete
        = link_to("/posts/#{post.id}", method: :delete, title: "投稿を削除する", data: {confirm: "投稿を削除してよろしいですか？"}) do
          %i.fas.fa-trash-alt
- if post.review.present?
  .post-review
    .post-review-star{id: "star-#{post.id}", rate: "#{post.review.rate}"}
      -# :javascript
        $('#star-#{post.review.id}').raty({
          size: 36,
          starOff: '/assets/star/none.png',
          starOn: "/assets/star/full.png",
          starHalf: "/assets/star/half.png",
          score: "#{post.review.rate}",
          half: true,
          readOnly: true
        });
    .post-review-title
      = post.review.title
    .post-review-price
      - if post.review.price.present?
        = "¥" + post.review.price.to_s(:delimited)
    .post-review-google.review-img
      = link_to "http://www.google.co.jp/search?q=#{CGI.escape(post.review.title)}", target: "_blank" do
        = image_tag("/assets/google.png", title: "Googleで検索する", size: "20x20")
    .post-review-amazon.review-img
      = link_to "https://www.amazon.co.jp/s?k=#{CGI.escape(post.review.title)}", target: "_blank" do
        = image_tag("/assets/amazon.png", title: "Amazonで検索する", size: "20x20")
    .post-review-rakuten.review-img
      = link_to "https://search.rakuten.co.jp/search/mall/#{CGI.escape(post.review.title)}", target: "_blank" do
        = image_tag("/assets/rakuten.png", title: "楽天で検索する", size: "20x20")
    .post-review-kakakudotcom.review-img
      = link_to "https://kakaku.com/search_results/#{CGI.escape(post.review.title.encode(Encoding::Shift_JIS))}", target: "_blank" do
        = image_tag("/assets/kakakudotcom.png", title: "価格.comで検索する", size: "20x20")
.post-text
  = simple_format(post.text)
- if post.images.attached?
  .post-image
    - post.images.each do |image|
      = link_to(url_for(image), class: "luminous-post-#{post.id}") do
        = image_tag(image)
- else
.post-action
  .post-action__comment{id: "post-action__comment-#{post.id}", title: "コメントをする・見る" } 
    %p
      %i.far.fa-comment-dots
      = post.comments.length
  .post-action__repost#repost{ id: post.id}
    = render partial: "reposts/repost", locals: {post: post}
  .post-action__fav#like{ id: post.id }
    = render partial: "likes/like", locals: {post: post}