.profile-image
  - if user.image.attached? 
    = link_to(url_for(user.image), class: "luminous-profile") do
      = image_tag(user.image, alt: 'デフォルトアイコン')
  - else
    = image_tag('sample/default_icon.png', alt: 'デフォルトアイコン')
.profile-name
  = link_to user_path(user.id), "data-turbolinks": false do
    = user.name
.profile-postcount
  投稿数
  = user.postcount.to_s(:delimited)
.profile-following
  フォロー
  = user.followings.count.to_s(:delimited)
.profile-follower
  フォロワー
  = user.followers.count.to_s(:delimited)
.profile-description
  = simple_format(user.description)
- if user_signed_in?
  - if user.id != current_user.id
    - if current_user.following?(user)
      = link_to "/users/#{user.id}/relationships/#{user.relationships.ids}", method: :delete, "data-turbolinks": false, remote: true do
        .button-follow.unfollow
          %span.switch-normal
            %i.fas.fa-user-check
            フォロー中
          %span.switch-hover
            %i.fas.fa-user-minus
            フォロー解除
    - else
      = link_to "/users/#{user.id}/relationships", method: :post, "data-turbolinks": false, remote: true do
        .button-follow.follow
          %i.fas.fa-user-plus
          フォローする