= render "shared/top-header"

.main
  .main-menu-outer
    .main-menu-inner
      .profile
        - if user_signed_in?
          .profile-image
            - if current_user.image.attached? 
              = link_to(url_for(current_user.image)) do
                = image_tag(current_user.image, alt: 'デフォルトアイコン')
            - else
              = image_tag('sample/default_icon.png', alt: 'デフォルトアイコン')
          .profile-name
            = current_user.name
          .profile-postcount
            投稿数
            -# = current_user.posts_count.to_s(:delimited)
            = @post_count.to_s(:delimited)
          .profile-following
            フォロー
            = current_user.following_count.to_s(:delimited)
          .profile-follower
            フォロワー
            = current_user.followers_count.to_s(:delimited)
          .profile-description
            = simple_format(current_user.description)
          = link_to edit_user_registration_path do
            .profile-config
              %i.far.fa-id-card
              プロフィールの変更
          = link_to new_post_url, "data-turbolinks": false do
            .button-post
              %i.fas.fa-feather-alt
              投稿する
        - else
      
  .main-posts
    .post
      .post-left
        = link_to('#') do
          = image_tag('sample/icon_1.JPG', alt: 'デフォルトアイコン')
      .post-right
        .post-header
          .post-header__name
            = link_to('#') do
              えふけー
          .post-header__time
            %i.far.fa-clock
            30分前
          .post-header__delete
            %i.fas.fa-trash-alt
        .post-review
          .post-review-star
            = image_tag('star/full.png')
            = image_tag('star/full.png')
            = image_tag('star/full.png')
            = image_tag('star/full.png')
            = image_tag('star/half.png')
          .post-review-title
            Soundcore Motion+
          .post-review-price
            = "¥ " + 9499.to_s(:delimited)
        .post-text
          キッチンやお風呂に持ち込めるスピーカーが欲しくなり、初めてBlutoothスピーカーを購入。
          %br
          起動が早く、音質も良い。Blutoothはスピーカーに限らず接続が途切れないかの不安が常にありますが、購入して数ヶ月、途切れたことは一度も無いです。買ってよかった。防水性もあり。
          %br
          2つ買うとペアリングしてステレオ再生できるのですが安くないので迷っています。でももう一台欲しい。
        .post-image
          = image_tag('sample/1.JPG', height: '100%')
        .post-action
          .post-action__reply
            = link_to('#') do
              %i.far.fa-comment-dots
              1
          .post-action__repost
            = link_to('#') do
              %i.fas.fa-retweet
              0
          .post-action__fav
            = link_to('#') do
              %i.far.fa-star
              0
    %hr
    
    - if @posts.empty?
      投稿がまだありません
    - else
      - @posts.each_with_index.reverse_each do |post, i|
        .post
          .post-left
            = link_to('#') do
              - if post.user.image.attached? 
                = image_tag(post.user.image, alt: 'デフォルトアイコン')
              - else
                = image_tag('sample/default_icon.png', alt: 'デフォルトアイコン')
          .post-right
            .post-header
              .post-header__name
                = link_to('#') do
                  = post.user.name
              .post-header__time
                %i.far.fa-clock
                = post.created_at.to_s(:human)
              - if user_signed_in?
                - if post.user_id == current_user.id
                  .post-header__delete
                    = link_to("/posts/#{post.id}", method: :delete) do
                      %i.fas.fa-trash-alt
            .post-review
              .post-review-star
              .post-review-title
              .post-review-price
            .post-text
              = simple_format(post.text)
            - if post.images.attached?
              .post-image
                - post.images.each do |image|
                  = image_tag(image, height: '100%')
            - else
            .post-action
              .post-action__reply
                = link_to('#') do
                  %i.far.fa-comment-dots
                  = post.comments_count
              .post-action__repost
                = link_to('#') do
                  %i.fas.fa-retweet
                  = post.repost_count
              .post-action__fav
                = link_to('#') do
                  %i.far.fa-star
                  = post.likes_count
        - if i == 0
        - else
          %hr
.footer
  &copy; 2020 Revorite