= render "shared/top-header"

.main
  .main-menu-outer
    .main-menu-inner
      .profile
        - if user_signed_in?
          .profile-image
            - if current_user.image.attached? 
              = link_to(url_for(current_user.image)) do
                = image_tag(current_user.image, alt: 'デフォルトアイコン')
            - else
              = image_tag('sample/default_icon.png', alt: 'デフォルトアイコン')
          .profile-name
            = current_user.name
          .profile-postcount
            投稿数
            = @post_count.to_s(:delimited)
          .profile-following
            フォロー
            = current_user.following_count.to_s(:delimited)
          .profile-follower
            フォロワー
            = current_user.followers_count.to_s(:delimited)
          .profile-description
            = simple_format(current_user.description)
          = link_to edit_user_registration_path do
            .profile-config
              %i.far.fa-id-card
              プロフィールの変更
          = link_to new_post_url, "data-turbolinks": false do
            .button-post
              %i.fas.fa-feather-alt
              投稿する
        - else
      
  .main-posts
    .main-posts-header
      %ul.main-posts-header-list
        = link_to ('#') do 
          %li タイムライン
        = link_to ('#') do 
          %li 人気の投稿
    - if @posts.empty?
      投稿がまだありません
    - else
      %ul.main-posts-contents
        - @posts.each_with_index.reverse_each do |post, i|
          %li.post
            .post-left
              = link_to('#') do
                - if post.user.image.attached? 
                  = image_tag(post.user.image, alt: 'デフォルトアイコン')
                - else
                  = image_tag('sample/default_icon.png', alt: 'デフォルトアイコン')
            .post-right
              = render partial: "posts/post", locals: {post: post}
              = render partial: "posts/comment", locals: {post: post}
          - if i != 0
            %hr
        
.footer
  &copy; 2020 Revorite