- content_for :no_turbolink, true

= render "shared/header"

.main
  .main-menu-outer
    .main-menu-inner
      - if user_signed_in?
        .profile
          = render partial: 'posts/profile', locals: {user: @user}
        = link_to new_post_url, "data-turbolinks": false do
          .button-post
            %i.fas.fa-feather-alt
            投稿する
      - else
        .profile
      
  .main-posts
    .main-posts-header
      %ul.main-posts-header-list
        = link_to root_path, class: 'active post-links', "data-turbolinks": false, remote: true do
          .main-posts-header-list-box
            - if user_signed_in?
              %li タイムライン
              %i.fas.fa-question-circle
                .fukidashi
                  フォローしているユーザの投稿を見ることができます
            - else
              %li 最新の投稿
        = link_to trend_posts_path, class: 'non-active post-links', "data-turbolinks": false, remote: true do 
          .main-posts-header-list-box
            %li 人気の投稿
            %i.fas.fa-question-circle
              .fukidashi
                お気に入りに多く登録されている投稿を見ることができます
    - if @posts.empty?
      %ul.main-posts-contents.jscroll
        %li.post
          .post-container
            投稿はまだありません。
    - else
      %ul.main-posts-contents.jscroll
        = render partial: "posts/posts", locals: {posts: @posts}
        .main-posts-pagenation
          = link_to_prev_page @posts, '前のページ', class: "prev-page", "data-turbolinks": false
          = link_to_next_page @posts, '次のページ', class: "next-page", "data-turbolinks": false
        
= render "shared/footer"