- content_for :no_turbolink, true

= render "shared/header"

.main
  .newpost
    .newpost-header
      新規投稿
    .newpost-items
      = form_with model: @post, local: true do |f|
        - if @post.errors.any?
          .main-error
            %ul
            - @post.errors.full_messages.each do |message| 
              %li= message
        .newpost-items__checkbox
          = f.check_box :rev_flg, class: "checkbox", id: "newpost-rev_flg"
          = f.label :rev_flg, "レビューをする", class: "checkbox-parts", for: "newpost-rev_flg"
        .newpost-items__review
          = f.fields_for :review, @post.build_review do |r|
            .newpost-items__label
              評価
            .newpost-items__field#star
              = r.hidden_field :rate
            .newpost-items__label
              レビュー対象
              %span.note （50文字以内）
            .newpost-items__field
              = r.text_field :title, placeholder: "商品名・タイトルなど", class: "post-input-title", id: "newpost-input-title"
              .newpost-items__field--caution.post-caution-title
            .newpost-items__label
              価格
              %span.note （任意）
            .newpost-items__field
              = r.text_field :price, class: "post-input-price", id: "newpost-input-price"
              .newpost-items__field--caution.post-caution-price
        .newpost-items__label
          本文
          %span.note （500文字以内）
          %span.textcount#newpost-input-text__textcount
        .newpost-items__field
          = f.text_area :text, class: "post-input-text", id: "newpost-input-text"
          .newpost-items__field--caution.post-caution-text
        .newpost-items__image
          = f.label :images, for: "newpost-file_field" do
            %i.far.fa-image
            画像の投稿
            = f.file_field :images, class: "file_field", id: "newpost-file_field", accept: "image/jpeg, image/png", multiple: true
          %span.note （JPEGまたはPNG形式、4枚まで　1枚当たり3MB以内）
        .newpost-items__submit
          = f.submit '投稿', class: "button-submit post-newpost post-button-submit"
    .newpost-footer
      = link_to("<< トップに戻る", root_path)

= render "shared/footer"