!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Revorite
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    '/assets/luminous-basic.min', media: 'all'
    = include_gon
    = javascript_include_tag 'application'  , 'data-turbolinks-track': 'reload'
  %body{ no_turbolink? }
    = render 'layouts/flash'
    = yield